
<html>
  <head>

  	<title></title>
  </head>
  <body>
    <div class = "wrapper">
      <h1>Log in</h1>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <p class="text_gray">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </p>
        </div>

          <div class="field">
          <p class="text_gray">  <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></p>
          </div>

          <div class="field">
          <p class="text_gray">  <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></p>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <p class="text_gray"><%= f.check_box :remember_me %>
              <%= f.label :remember_me %></p>
            </div>

          <% end -%>


      </div>

        <div class="actions submit input">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <div class="text_gray"><%= render "devise/shared/links" %></div>
    </div>



  </body>
</html>
