


    <div class = "wrapper">



      <%= form_for(@match) do |f| %>
        <% if @match.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

            <ul>
            <% @match.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field text_gray">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div class="field text_gray">
          <%= f.label :mastered %><br>
          <%= f.check_box :mastered %>
        </div>

        <div class="field text_gray">
          <%= f.label :star_time %><br>
          <%= f.datetime_field :star_time %>
        </div>


        <div class="field text_gray select_create">
          <%= f.label :language %><br>
          <%= f.select(:language) do %>
            <% [['Spanish','Spanish'],['English','English'],['Portuguese','Portuguese'],['Russian','Russian'],['German','German'],['French','French'],['Italian','Italian']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>  </div>

          <div class="field text_gray select_create">
            <%= f.label :maximum_players %><br>
            <%= f.select(:maximum_players) do %>
              <% [['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9']].each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            <% end %>  </div>

        <div class="field text_gray select_create">
          <%= f.label :game_id %><br>
          <%= f.collection_select(:game_id, Game.all, :id, :name) %>
        </div>



        <div class="actions text_gray">
          <%= f.submit %>
        </div>
      <% end %>



    </div>
