

    <h1 class="title">VALQUIRIA</h1>
<div class="wrapper_bottom ">
  <p>
    <input  type="button" class="btn_menu" id='buscar' value="BUSCAR">
    <%=link_to new_match_path do%>
    <button class="btn_menu"> CREAR </button>
    <%end%>
  </p>
</div>
<img  class="animated  fadeIn" id='logo_index' src="/LOGOTIPO-VALQUIRIA.png" alt="" >
</div>
    <div class = "wrapper_index  animated  fadeIn " id='busqueda'>


      <h1>Match</h1>

      <div >
        <p class="text_gray">LANGUAGE</p>
        <p>  <select  class="select"id=language name="select">
          <option value="Spanish">Spanish </option>
          <option value="English">English </option>
          <option value="Portuguese">Portuguese </option>
          <option value="Russian">Russian </option>
          <option value="German">German </option>
          <option value="French">French </option>
          <option value="Italian">Italian </option>
        </select> </p>
        <p class="text_gray">GAME:</p>

        <p>  <select id=game name="select" class="select">
            <option value=1 id='LLamada de cthulh'>LLamada de cthulh </option>
            <option value=2 id='Savage Worlds'>Savage Worlds </option>
            <option value=3 id='GURPS'>GURPS </option>
            <option value=4 id='The World of Darkness (Vampire)'>The World of Darkness (Vampire) </option>
            <option value=5 id='The World of Darkness (Mage)'>The World of Darkness (Mage) </option>
            <option value=6 id='The World of Darkness (warewolf)'>The World of Darkness (Warewolf) </option>
            <option value=7 id='Traveller'>Traveller </option>
            <option value=8 id='Fiasco'>Fiasco </option>
          </select> </p>

            <input  type="button" class="btn_menu" id='filter' value="FILTRAR">



              <table id="tableMatches">
                <tr>
                  <th>Name</th>
                  <th>Game</th>
                  <th>Language</th>
                  <th>Registered at</th>
                </tr>
                <% @matches.each do |match| %>
                  <tr id= "table">
                    <div id="tableID">
                      <td><%= link_to(match.name, match_path(match)) %></td>
                      <td><%= match.game.name %></td>
                      <td><%= match.language %></td>
                      <td><%= match.created_at %></td>
                    </div>

                  </tr>
                <% end %>


              </table>
                <%= will_paginate @matches %>
            </div>
  </body>

</html>
