<h1 class="title">VALQUIRIA</h1>
<!--

<% @matches.each do |match| %>
      <tr>
        <td>Game:<%= match.game.name %> ; </td>
        <td>language:<%= match.language %></td>
        <td>Time:<%= match.star_time %> ; </td>

      </tr>
      <p></p>
    <% end %>

 -->


    <div class = "wrapper">

      <p>
        <input  type="button" class="btn_menu" onclick="#" value="BUSCAR">
        <button class="btn_menu"> <%= link_to "CREAR" ,new_match_path%> </button>
      </p>

      <h1>Match</h1>

      <%= form_for_filterrific @filterrific,html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
        <div class="text_gray">
          Search
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
        <div class="text_gray">
          Game
          <%= f.select(
            :with_game_id,
            @filterrific.select_options[:with_game_id],
            { include_blank: '- Any -' }
          ) %>
        </div>
        <div class="text_gray">
          Registered after
          <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
        </div class="text_gray">
        <div class="text_gray">Sorted by
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <div class="text_gray">
          <%= link_to(
            'Reset filters',
            reset_filterrific_url,
          ) %>
        </div>
        <%# add an automated spinner to your form when the list is refreshed %>
        <%= render_filterrific_spinner %>

        <div class="text_gray">
          <%= f.submit 'Filter' %>
        </div>
      <% end %>


    </div class="form">
    <%= render(
      partial: 'matches/list',
      locals: { match: @matches }
    ) %>
  </body>

</html>
